/* common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

/* header styles */
.header {
    margin-left: 50px;
    margin-right: 10px;
}

.nav {
    display: flex;
    align-items: center;
    height: 80px;
}

.logo-area {
    flex-grow: 1;
}

.header-lists {
    display: flex;
    flex-grow: 2;
}

.header-lists li {
    margin: 0 20px;
}


.header-lists li a {
    color: black;
    transition: 0.4s;
}

.header-lists li a:hover {
    color: blue;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-form {
    position: relative;
    width: 400px;
}

.header-form input {
    padding: 10px 0 10px 20px;
    width: 100%;
    background: #F0F0F0;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    outline: none;
}

.search-icon {
    position: absolute;
    background: none;
    border: none;
    left: 90%;
    top: 25%;
}

.search-icon img {
    width: 22px;
}

.header-icons-area {
    margin-left: 61px;
    display: flex;
    align-items: center;
}

.like-icon {
    width: 24px;
    cursor: pointer;
}

.cart-icon {
    width: 24px;
    margin-left: 35px;
    margin-right: 35px;
    cursor: pointer;
}

.user-img {
    margin-right: 13px;
    cursor: pointer;
}